<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of incidents</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr:hover {background-color: #f5f5f5;}
    </style>
</head>
<body>
    <h1>List of incidents</h1>
    <table>
        <thead>
            <tr>
                <th>Machine</th>
                <th>Parameters</th>
                <th>Value</th>
                <th>Time</th>
                <th>duration</th>
            </tr>
        </thead>
        <tbody>
            {% for incident in incidents %}
            <tr>
                <td>{{ incident.machine_id }}</td>
                <td>{{ incident.parameter }}</td>
                <td>{{ incident.value }}%</td>
                <td>{{ incident.timestamp }}</td>
                <td>{{ incident.duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>